<div class="tasks-container"
     cdkDropList
     id="{{list_id}}"
     [cdkDropListData]="cards"
     (cdkDropListDropped)="drop($event)">
  <div class="task" *ngFor="let item of cards" cdkDrag style="position: relative">
    <div  style="position: absolute; right: 0; top: 0"><app-detail-card [card_id]="item.id" (isUpdate)="changeOutput()"></app-detail-card></div>
    <table>
      <tr>{{ item.title }}</tr>
      <tr>
        <td><h5>Member is tag:</h5>
        <app-show-tag-user-card [card_id]="item.id"></app-show-tag-user-card>
        </td>
      </tr>
    </table>
  </div>
  <div class="task" ><app-create-card [list_id]="list_id" (isCreated)="changeOutput()"></app-create-card></div>
</div>


