<div class="root">
  <div class="board">

    <div class="board-bar" style="position: relative">
      <p class="board-name">{{board.name}}</p>
    </div>

    <div class="board-wrapper" >

      <div class="board-columns"
           cdkDropList [cdkDropListData]="_lists"
           (cdkDropListDropped)="drop($event)">

        <div class="board-columns" cdkDropListGroup>
          <div class="board-column"  *ngFor="let item of _lists" cdkDrag >

            <div class="column-title">
              {{ item.title }}
              <app-edit-title-list [list_id]="item.id" (isUpdate)="update()"></app-edit-title-list>
            </div>
            <app-show-card-by-list-id [list_id]="item.id" (isChanged)="update()"></app-show-card-by-list-id>
          </div>
          <div class="board-column"  >
            <app-create-list [board_id]="board_id" (isCreate)="update()"></app-create-list></div>
        </div>
      </div>
    </div>
  </div>
</div>
