<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Edit Password</h1>
  </div>
</section>
<div class="container">
  <form (ngSubmit)="editUser()">
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="text" class="form-control" id="password" [(ngModel)]="appUser.passWord"
             name="passWord">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" id="email" [(ngModel)]="appUser.email"
             name="email">
    </div>
    <div class="mb-3">
      <img src="">
      <label for="avatar" class="form-label">Avatar</label><br>
      <input type="file" id="avatar" name="avatar" (change)="onFileSelected($event)">
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <p>
      <button class="btn btn-outline-info" type="button" [routerLink]="'/home'">Back to home</button>
      <button class="btn btn-outline-info" type="submit" value="submit">Edit</button>
      </p>
    </div>
  </form>
</div>
